{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style media="screen">


        canvas {
            max-width: 100% !important;
            height: auto !important;
        }
    </style>

{% endblock %}
{% block body %}


    <div class="row divShow">
        <div class="col s12 m12 l8 showImage ">
            <img class="responsive-img" src="{{ picture.image }}" alt="{{ picture.name }}">
            <a href="{{ path('tag_new', {'id': picture.id}) }}">Ajouter tag</a>
        </div>
        <div class="col s12 m12 l4 showInfo">
            <div class="userInfo">
                <div class="row valign-wrapper">
                    <div class="col s3">
                        <img src="{{ asset('uploads/images/'~ picture.user.avatar) }}" alt=""
                             class=" circle responsive-img">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s9">
                    <div class="col s9">
              <span class="black-text">
                  <strong> {{ picture.user.username }}</strong> a posté l'image <strong>{{ picture.title }}</strong>
                  <div class="postInfo">
                <p>{{ picture.description }}</p>
                      <p>{% for tag in picture.tags %}
                        <div class="chip">{{ tag }}</div>
                      {% endfor %}</p>
            </div>
              </span>
                    </div>
                </div>
            </div>

            <div class="formComment">
                {{ form_start(formComment) }}
                {{ form_widget(formComment,{'attr':{'label':'Votre commentaire'}}) }}
                {{ form_end(formComment) }}
            </div>
            <div class="comment">
                {% if picture.comments %}
                    <ul class="collection">
                        {% for comment in picture.comments %}
                            <li class="collection-item avatar">
                                {% if comment.user is null %}
                                    <img src="{{ asset('uploads/images/avatarVisiteur.jpg') }}" alt="" class="circle">
                                    <span class="title">Visiteur</span>
                                {% else %}
                                    <img src="{{ asset('uploads/images/'~ comment.user.avatar) }}" alt=""
                                         class="circle">
                                    <span class="title">{{ comment.user.username }}</span>
                                {% endif %}
                                <p> {{ comment.content }}<br>
                                    <em style="font-size: .7em">{{ comment.date | date('d-m-y') }} </em>
                                </p>
                                <a href="#" class="secondary-content"><i class="material-icons">favorite</i></a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>

    </div>



    <canvas id="canvas" width="500" height="500"></canvas>



{% endblock %}
{% block javascripts %}
    <script type="text/javascript">


        var src = {{ picture.image }};
        var photo = new Image();
        var canvas = document.getElementById('canvas');
        var ctx = canvas.getContext('2d');

        function render() {
            // Scale so that the image fills the container
            var width = window.innerWidth;
            var scale = width / photo.naturalWidth;
            var height = photo.naturalHeight * scale;
            ;

            canvas.width = width;
            canvas.height = height;

            ctx.drawImage(photo, 0, 0);
        }

        photo.onload = render;
        photo.crossOrigin = "Anonymous";
        photo.src = "" + src + "";

    </script>

{% endblock %}
