{% extends 'base.html.twig' %}

{% block title %}
    Ajouter une image
{% endblock %}
{% block body %}

{{ form_start(formPicture) }}

    <div class="input-field">
        {{ form_widget(formPicture.title, { 'attr': { 'id': 'title'} }) }}    
        {{ form_label(formPicture.title, 'Title', { 'label_attr': {'for': 'title'} }) }}
    </div>

    <div class="input-field">
        {{ form_widget(formPicture.name, { 'attr': { 'id': 'name'} }) }}    
        {{ form_label(formPicture.name, 'Img name', { 'label_attr': {'for': 'name'} }) }}
    </div>
    <div class="input-field">
        {{ form_widget(formPicture.description, { 'attr': { 'id': 'description'} }) }}    
        {{ form_label(formPicture.description, 'Description', { 'label_attr': {'for': 'description'} }) }}
    </div>
    <div class="file-field input-field">
        <div class="btn">
            <span>Pict</span>
            {{ form_widget(formPicture.image, { 'attr': { 'id': 'image'} }) }}  
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
        </div>
    </div>
    <div class="chips">
            {{ form_widget(formPicture.tag, { 'attr': { 'id': 'tag'} }) }}  
    </div>
    <button class="btn" type="submit">
        {% if editMode %}
            Modifier
        {% else %}
            Ajouter
        {% endif %}
    </button>

    {{ form_end(formPicture) }}
{% endblock %}


{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.chips');
        var instances = M.Chips.init(elems, { placeholder: "Enter A Tag", secondaryPlaceholder: "+Tag"});
        });

    </script>
{% endblock %}