{% extends 'base.html.twig' %}

{% block title %}
    Ajouter une image
{% endblock %}
{% block body %}

    {{ form_start(formPicture) }}

    <div class="input-field">
        {{ form_widget(formPicture.title, { 'attr': { 'id': 'title'} }) }}
        {{ form_label(formPicture.title, 'Title', { 'label_attr': {'for': 'title'} }) }}
    </div>

    <div class="input-field">
        {{ form_widget(formPicture.name, { 'attr': { 'id': 'name'} }) }}
        {{ form_label(formPicture.name, 'Img name', { 'label_attr': {'for': 'name'} }) }}
    </div>
    <div class="input-field">
        {{ form_widget(formPicture.description, { 'attr': { 'id': 'description'} }) }}
        {{ form_label(formPicture.description, 'Description', { 'label_attr': {'for': 'description'} }) }}
    </div>
    <div class="file-field input-field">
        <div class="btn">
            <span>Pict</span>
            {{ form_widget(formPicture.image, { 'attr': { 'id': 'image'} }) }}
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
        </div>
    </div>
    <div class="chips ">
        {% for tag in formPicture.tag %}
            {{ form_row(tag, { 'attr': { 'id': 'tag'} } ) }}
        {% endfor %}
     
    </div>

    <button class="btn" type="submit">
        {% if editMode %}
            Modifier
        {% else %}
            Ajouter
        {% endif %}
    </button>

{#    {{ form_end(formPicture) }}#}
{% endblock %}


{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.chips');
            var instances = M.Chips.init(elems, {placeholder: "Enter A Tag", secondaryPlaceholder: "+Tag"});
        });

        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagButton = $('<button type="button" class="add_tag_link">Add a tag</button>');
        var $newLinkLi = $('<li></li>').append($addTagButton);

        jQuery(document).ready(function () {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.tags');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagButton.on('click', function (e) {
                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });

            function addTagForm($collectionHolder, $newLinkLi) {
                // Get the data-prototype explained earlier
                var prototype = $collectionHolder.data('prototype');

                // get the new index
                var index = $collectionHolder.data('index');

                var newForm = prototype;
                // You need this only if you didn't set 'label' => false in your tags field in TaskType
                // Replace '__name__label__' in the prototype's HTML to
                // instead be a number based on how many items we have
                // newForm = newForm.replace(/__name__label__/g, index);

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                newForm = newForm.replace(/__name__/g, index);

                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                var $newFormLi = $('<li></li>').append(newForm);
                $newLinkLi.before($newFormLi);
            }

        } );


    </script>
{% endblock %}