{% extends 'base.html.twig' %}

{% block stylesheets %}
<style media="screen">


#image,#myCanvas{
  float:left;
}

#blur,#grayscale,#brightness,#contrast,#rotate,#invert,#opacity,#saturate,#sepia{
    width: 300px;
    margin: 15px;
   float:left;

 }

</style>

{% endblock %}
{% block body %}


<div class="row divShow">
  <div class="col s12 m12 l8 showImage ">
    <img class="responsive-img" style= "max-width:440px; max-height:320px;" id="canvasPic" src="{{ picture.image }}" alt="{{ picture.name }}">
    <!-- <canvas style= "max-width:440px; max-height:320px;" id="canvas" class="hidden"></canvas>

    <button type="button" id="imageConvert">Push me</button> -->
    <!-- <button type="button" class="hidden" id="grayConvert">Gray</button> -->


  <div class="slide" style="display: flex !important;justify-content: space-around; ">
    <div id="blur"><br>Blur</div>
    <div id="grayscale"><br>Grayscale</div>
    <div id="brightness"><br>brightness</div>
    <div id="contrast"><br>contrast</div>
    <div id="rotate"><br>huerotate</div>
    <div id="invert"><br>invert</div>
    <div id="opacity"><br>opacity</div>
    <div id="saturate"><br>saturate</div>
    <div id="sepia"><br>sepia</div>
  </div>    <!-- <input type="range" min="1" max="100" value="0" class="slider hidden" id="myRange"> -->


    <!-- <button type="button" class="hidden" id="sepiaConvert">Sepia</button> -->


  </div>
  <a href="{{ path('tag_new', {'id': picture.id}) }}">Ajouter tag</a>
  <div class="col s12 m12 l4 showInfo">
    <div class="userInfo">
      <div class="row valign-wrapper">
        <div class="col s3">
          <img src="{{ asset('uploads/images/'~ picture.user.avatar) }}" alt=""
          class=" circle responsive-img">
          <!-- notice the "circle" class -->
        </div>
        <div class="col s9">
          <div class="col s9">
            <span class="black-text">
              <strong> {{ picture.user.username }}</strong> a posté l'image <strong>{{ picture.title }}</strong>
              <div class="postInfo">
                <p>{{ picture.description }}</p>
                <p>{% for tag in picture.tags %}
                  <div class="chip">{{ tag }}</div>
                  {% endfor %}</p>

                </div>
              </span>
            </div>
          </div>
        </div>

        <div class="formComment">
          {{ form_start(formComment) }}
          {{ form_widget(formComment,{'attr':{'label':'Votre commentaire'}}) }}
          {{ form_end(formComment) }}
        </div>
        <div class="comment">
          {% if picture.comments %}
          <ul class="collection">
            {% for comment in picture.comments %}
            <li class="collection-item avatar">
              {% if comment.user is null %}
              <img src="{{ asset('uploads/images/avatarVisiteur.jpg') }}" alt="" class="circle">
              <span class="title">Visiteur</span>
              {% else %}
              <img src="{{ asset('uploads/images/'~ comment.user.avatar) }}" alt=""
              class="circle">
              <span class="title">{{ comment.user.username }}</span>
              {% endif %}
              <p> {{ comment.content }}<br>
                <em style="font-size: .7em">{{ comment.date | date('d-m-y') }} </em>
              </p>
              <a href="#" class="secondary-content"><i class="material-icons">favorite</i></a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}

        </div>

      </div>

    </div>




  {% endblock %}
  {% block javascripts %}

  <script  type="text/javascript">
  // var canvas = document.querySelector("#canvas");
  // var ctx = canvas.getContext("2d");
  function blur() {
  var grayscale = $("#myRange").slider("value");
  var blur = $("#blur").slider("value");
  var grayscale = $("#grayscale").slider("value");
  var brightness = $("#brightness").slider("value");
  var contrast = $("#contrast").slider("value");
  var rotate = $("#rotate").slider("value");
  var invert = $("#invert").slider("value");
  var opacity = $("#opacity").slider("value");
  var saturate = $("#saturate").slider("value");
  var sepia = $("#sepia").slider("value");
  $("#canvasPic").css("-webkit-filter", "blur(" + blur + "px)" + "brightness(" + brightness + "%)" + "grayscale(" + grayscale + "%)" + "hue-rotate(" + rotate + "deg)" + "contrast(" + contrast + "%)" + "invert(" + invert + "%)" + "opacity(" + opacity + "%)" + "saturate(" + saturate + ")" + "sepia(" + sepia + "%)");
  //$("#imageConvert").on("click",(event) => {
  //var image = document.getElementById("canvasPic");
}
  $(function() {
  $("#blur").slider({
    orientation: "horizontal",
    min: 0,
    max: 25,
    value: 0,
    slide: blur,
    change: blur
  });
  $("#grayscale").slider({
    orientation: "horizontal",
    min: 0,
    max: 100,
    value: 0,
    slide: blur,
    change: blur
  });
  $("#brightness").slider({
    orientation: "horizontal",
    min: 100,
    max: 1000,
    value: 0,
    slide: blur,
    change: blur
  });

  $("#contrast").slider({
    orientation: "horizontal",
    min: 0,
    max: 1000,
    value: 100,
    slide: blur,
    change: blur
  });
  $("#rotate").slider({
    orientation: "horizontal",
    min: -180,
    max: 180,
    value: 0,
    slide: blur,
    change: blur
  });

  $("#saturate").slider({
    orientation: "horizontal",
    min: 0,
    max: 100,
    value: 1,
    slide: blur,
    change: blur
  });

  $("#sepia").slider({
    orientation: "horizontal",
    min: 0,
    max: 100,
    value: 0,
    slide: blur,
    change: blur
  });

  $("#opacity").slider({
    orientation: "horizontal",
    min: 0,
    max: 100,
    value: 100,
    slide: blur,
    change: blur
  });

  $("#invert").slider({
    orientation: "horizontal",
    min: 0,
    max: 100,
    value: 0,
    slide: blur,
    change: blur
  });
});
  </script>

{% endblock %}
