{{ form_start(form) }}
   <div class="input-field">
       {{ form_widget(form.title, { 'attr': { 'id': 'title'} }) }}
       {{ form_label(form.title, 'Title', { 'label_attr': {'for': 'title'} }) }}
   </div>
   <div class="input-field">
     <div class="">
       {{ form_label(form.title, 'Album privé', { 'label_attr': {'for': 'title'} }) }}

     </div>
     <div class="">
       {{ form_widget(form.isPrivate, { 'attr': {'class': 'browser-default'} }) }}
     </div>


   </div>
   <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
