{% extends 'base.html.twig' %}

{% block title %}Album{% endblock %}

{% block body %}
    <h1>Album</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ album.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ album.title }}</td>
            </tr>
            <tr>
                <th>IsPrivate</th>
                <td>{{ album.isPrivate ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('album_index') }}">back to list</a>

    <a href="{{ path('album_edit', {'id': album.id}) }}">edit</a>

    {{ include('album/_delete_form.html.twig') }}

    <div id="columns">
        {% for picture in album.pictures %}

                <figure>
                    <a href="{{ path('picture_show', {'id': picture.id}) }}">  <img src="{{picture.image}}"></a>
                    <figcaption>{{ picture.title }}</figcaption>
                </figure>

        {% endfor %}
    </div>
{% endblock %}
